<md-card>
    <md-card-title>
        <span *ngIf="!editMode" (click)="setEditMode(true)">{{todo.content || '[TODO: Write a Todo]'}}</span>
        <md-input-container class="full-width" *ngIf="editMode">
            <input mdInput input-focus placeholder="Your Task"
                   [value]="todo.content" (keyup.enter)="changeTodoContent($event)" (keyup.esc)="setEditMode(false)">
        </md-input-container>
    </md-card-title>
    <md-card-actions *ngIf="todo && todo.id">
        <material-datepicker [date]="todo.deadline" (onSelect)="changeTodoDeadline($event)"></material-datepicker>
        <md-checkbox [checked]="todo.completed" (change)="toggleCompleted($event.checked)" aria-label="Completed?">
            Completed?
        </md-checkbox>
        <button md-raised-button color="accent" (click)="removeTodo()">REMOVE</button>
    </md-card-actions>
</md-card>